@model Volunteia.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <div>
        <strong>@Html.DisplayNameFor(model => model.ShortBio)</strong>
        <p> @Html.DisplayFor(model => model.ShortBio)</p>
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfActions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfActions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRestricted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRestricted)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBenefactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBenefactor)
        </dd>
 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
