@model Volunteia.Models.Action

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Action</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patrocinador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patrocinador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ODS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ODS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumVonlutarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumVonlutarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alcance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alcance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
