@model Volunteia.Models.UserAction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserAction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patrocinador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patrocinador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionBio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionBio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ODS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ODS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteersTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteersTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPeopleHelped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeopleHelped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ActionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
